body {
    background-color: #6690a0;
    background-image: url('/images/ministore.png');
    background-size: auto; /* Set to auto to maintain original size */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 72px;
    color: white;
    font-style: italic;
}