/* style.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Dancing Script', cursive;
    color: #333;
}

/* Button styles */
.buttons {
    text-align: center;
}

.buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #555;
}

/* link-button styles */
.link-button {
    display: inline-block;
    width: 100%; /* Added */
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #555;
}

/* Registration form styles */
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registration-form label {
    display: block;
    margin-bottom: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #555;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}

/* Admin menu styles */
.admin-menu {
    background-color: #333;
    padding: 10px;
}

.admin-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.admin-menu ul li {
    position: relative;
    margin-right: 20px;
}

.admin-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.admin-menu ul li:hover > a {
    background-color: #555;
}

.admin-menu ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    list-style: none;
}

.admin-menu ul li:hover .dropdown {
    display: block;
}

.admin-menu ul li .dropdown li a {
    padding: 10px;
    white-space: nowrap;
}

.admin-menu ul li .dropdown li a:hover {
    background-color: #555;
}

/* Product list styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: calc(100vh - 370px); /* Adjust as needed */
    overflow-y: auto;
}

.create-product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the div fills the whole width of its parent */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-product button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-product button:hover {
    background-color: #555;
}

.product {
    position: relative; /* Ensure the child elements are positioned relative to this div */
    width: calc(33.33% - 50px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.out-of-stock-overlay {
    position: absolute; /* Position it absolutely within the product div */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.icon-img {
    width:25px;
    height: 25px;
}

.product h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.product p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.product form {
    margin-top: 10px;
}

.product input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #555;
}

/* User info styles */
.user-info {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.cart-item p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.cart-items p:last-child {
    font-weight: bold;
}

.cart-items button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-items button:hover {
    background-color: #555;
}

.shoppingcartbuttons {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shoppingcartbuttons button:hover {
    background-color: #555;
}
