<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ministore</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="content">
    <div class="header">
        <h1>Ministore</h1>
    </div>
    <div class="buttons">
        <a href="/login">LOG IN</a>
        <a href="/register">CREATE</a>
    </div>
</div>
</body>
</html>
